@model _2whealers.Models.Login
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Login_Layout.cshtml";
}
<div class="text-center mb-4">
    <img src="/AdminAssets/dist/img/logo1.png" alt="BikeNation Logo" class="img-fluid mb-2" style="max-width:150px;" />
    <h2 class="fw-bold text-dark">BikeNation</h2>
</div>

<h3 class="text-center mb-4">Login</h3>
 
    @Html.AntiForgeryToken()
    <div class="input-group mb-3">
        <span class="input-group-text"><i class="fas fa-user"></i></span>
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Enter username" })
    </div>
    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })

    <div class="input-group mb-3">
        <span class="input-group-text"><i class="fas fa-lock"></i></span>
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter password" })
        <button type="button" class="btn btn-outline-secondary" id="togglePassword">
            <i class="fas fa-eye"></i>
        </button>
    </div>
    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

    <div class="d-flex align-items-center justify-content-between mb-3">
        <span class="captcha-box" id="captchaText">AB12CD</span>
        <button type="button" id="reloadCaptcha" class="btn btn-outline-secondary btn-sm">
            <i class="fas fa-sync-alt"></i> Refresh
        </button>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text"><i class="fas fa-shield-alt"></i></span>
        @Html.TextBoxFor(m => m.CaptchaCode, new { @class = "form-control", placeholder = "Enter captcha" })
        @Html.HiddenFor(m => m.HiddenCaptcha)
    </div>
    @Html.ValidationMessageFor(m => m.CaptchaCode, "", new { @class = "text-danger" })


    <button type="button" class="btn btn-primary w-100" id="btnLogin">Login</button> 
@section Scripts {


    <script>
        function generateCaptcha() {
            var chars = "ABCDEFGHJKLMNPQRSTUVWXYZ23456789";
            var captcha = "";
            for (var i = 0; i < 6; i++) {
                captcha += chars.charAt(Math.floor(Math.random() * chars.length));
            }
            $("#captchaText").text(captcha);
            $("#HiddenCaptcha").val(captcha); // hidden field update
        }

        $(document).ready(function () {
            generateCaptcha();

            $("#reloadCaptcha").click(function () {
                generateCaptcha();
            });

            $("#togglePassword").on("click", function () {
                var passwordInput = $("#Password");
                var type = passwordInput.attr("type");

                if (type === "password") {
                    passwordInput.attr("type", "text");
                    $(this).html('<i class="fas fa-eye-slash"></i>');
                } else {
                    passwordInput.attr("type", "password");
                    $(this).html('<i class="fas fa-eye"></i>');
                }
            });

            $.validator.addMethod("equalToHiddenCaptcha", function (value, element) {
                var hiddenCaptcha = $("#HiddenCaptcha").val();
                return value.toUpperCase() === hiddenCaptcha.toUpperCase();
            }, "Captcha is incorrect");

            $("#btnLogin").on("click", function (e) {
            e.preventDefault();

           var data = {
            __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(), // antiforgery
            UserName: $("#UserName").val(),
            Password: $("#Password").val(),
            CaptchaCode: $("#CaptchaCode").val(),
            HiddenCaptcha: $("#HiddenCaptcha").val()
        };


            $.ajax({
                url: '@Url.Action("Index", "Login")',
                type: "POST",
                data: data,
                success: function (res) {
                    if (res.success) {
                        toastr.success(res.message);
                        window.location.href = res.redirectUrl;
                    } else {
                        toastr.error(res.message);
                    }
                },
                error: function () {
                    toastr.error("Something went wrong, please try again.");
                }
            });
        });
        });
    </script>
}