@model test2wheelers.Models.UserModel
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}
<ol class="breadcrumb mb-0">
    <li class="breadcrumb-item">
        <a href="/"><i class="fas fa-home"></i> Home</a>
    </li>
    <li class="breadcrumb-item active"> Profile </li>
</ol>


<div class="row">
    <div class="offset-1 col-10">
        <div class="card card-primary shadow-sm mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <div>
                    <h3 class="card-title mb-0">Profile Settings</h3>
                </div>
            </div>
            <div class="card-body">

                <!-- Account Section -->
                <h5 class="mb-3">Account</h5>
                <hr />
                <!-- Profile Picture -->
                <div>
                    <div class="d-flex align-items-center">
                        @* <img src="/adminassets/dist/img/user2-160x160.jpg" class="rounded-circle me-3" alt="Profile" width="95" height="95"> *@
                        <img src="@Model.ProfileImage" class="rounded-circle me-3" alt="Profile" width="95" height="95">
                        <div>
                            <h5 class="mb-1">@Model.UserName</h5>
                            <span class="badge bg-primary">@Model.RoleName</span>
                        </div>

                    </div>
                    <div class="mb-3 text-right">
                        @using (Html.BeginForm("UploadPhoto", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <input type="file" name="photoFile" class="btn btn-primary" />
                            <button class="btn btn-primary">Upload new picture</button>
                        }
                        
                    </div>
                </div>
                
                <hr />

                <form method="post">
                    <!-- Full Name -->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label class="form-label">First name</label>
                            <input type="text" asp-for="FirstName" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Last name</label>
                            <input type="text" asp-for="LastName" class="form-control">
                        </div>
                    </div>

                    <!-- Contact Email -->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label class="form-label">Contact email</label>
                            <input type="email" asp-for="Email" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Mobile No.</label>
                            <input type="text" asp-for="PhoneNumber" class="form-control">
                        </div>
                    </div>

                    <hr />
                    <!-- Password -->
                    <h6 class="mt-4">Password</h6>
                    <p class="text-muted small mb-1">Enter new password to update.</p>
                    <div class="row mb-4">
                        <div class="col-md-6 mb-2">
                            <label class="form-label">New password</label>
                            <input type="password" asp-for="Password" class="form-control" value="">
                        </div>
                        <div class="col-md-6 mb-2">
                            <label class="form-label">Confirm new password</label>
                            <input type="password" asp-for="ConfirmPassword" class="form-control" value="">
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Update</button>
                    </div>
                </form>
                
            </div>


            
        </div>
    </div>
</div>





@section Scripts {

    <script>
        $(function () {
            toastr.options = { "positionClass": "toast-top-right" };

            @if (TempData["Success"] != null)
            {
                                <text>toastr.success("@TempData["Success"]");</text>
            }

            @if (TempData["Error"] != null)
            {
                                <text>toastr.error("@TempData["Error"]");</text>
            }
        });
    </script>
}
