@model _2whealers.Models.BikeModels

 

<div class="modal-body">
    @using (Html.BeginForm("EditModels", "Admin", FormMethod.Post, new { id = "editModelsForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)

        <div class="form-group">
            @Html.LabelFor(m => m.BrandName)
            @Html.TextBoxFor(m => m.BrandName, new { @class = "form-control", @readonly = "readonly" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ModelName) 
            @Html.TextBoxFor(m => m.ModelName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ModelName, "", new { @class = "text-danger" })
        </div>

        <div class="text-end mt-3">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    }
</div>
