@model List<test2wheelers.Models.MenuItem>
@{
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
}
@foreach (var menu in Model)
{
    if (!menu.CanView) continue; // skip non-viewable

    if (menu.Children != null && menu.Children.Count > 0)
    {
        <li class="nav-item">
            @* <a href="#" class="nav-link @(currentAction == "Brands" || currentAction == "Models" ? "active" : "")" id="menu_@menu.MenuId"> *@
            <a href="#" class="nav-link" id="menu_@menu.MenuId">
                <i class="nav-icon @(menu.Icon)"></i>
                <p>@menu.MenuName<i class="right fas fa-angle-left"></i></p>
            </a>
            <ul class="nav nav-treeview" aria-labelledby="menu_@menu.MenuId">
                @Html.Partial("_MenuPartial", menu.Children)
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item @(currentAction == "Brands" || currentAction == "Models" ? "menu-open" : "")">
            <a class="nav-link @(currentAction == "Brands" || currentAction == "Models" ? "active" : "")" href="@menu.Url">
                <i class="nav-icon @(menu.Icon)"></i>
                <p>@menu.MenuName</p>
            </a>
        </li>
    }
}
